body {
    background-color: rgb(239, 175, 229);
}

header {
    border-bottom: solid 2px rgb(0, 0, 0);

}


h1 {
    background-color: rgb(155, 165, 42);

}

.TextoAzul {
    color: blue;

}

.TextoVermelho {

    color: red;
}